@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main{
  width:79%;
  background:#dbe4e9;
  height:100%;
  float:left;
  margin-top:10px;
  position:relative;
  z-Index:10
}
.about{
  width:"98%";
  margin:"10px";
  background:"#ffffff";
  height:"55vh";
  margin-top:"10px";
  padding:"10px";
  margin-bottom:"15px";
  font-family:"muli, Helvetica, Arial, sans-serif"
}
.banner{
  width:98%;
  height:80vh;
  background:red;
  padding:20px;
  margin:10px;
  margin-top:100px;
}
.overview{
  width:98%;
  margin:10px;
  background:#ffffff;
  height:45vh;
  margin-Top:50px;
  font-Family:poppins;
  font-Size:20px
}
.pricecontainer{
  width:30%;
  height:250px;
  margin:15px;
  border-top-right-radius:150px;
  border-bottom-left-radius:150px;
  box-shadow: rgb(23 44 82 / 10%) 2px 0px 10px 7px;
  border-width:90%;

}
.pricecontainer:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.pricetop{
  height:20%;
  border-top-right-radius:50%;
  border-top-left-radius:600px;
  color:black;
  font-size:24px;
  text-Align:center;
  padding:7px;
  border-bottom: 1px solid #EBECF0;
  
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
  /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
 position:fixed;
 z-index:100;
 background-color:#ffffff;
 width:79%
}
.logo {
  font-size: 30px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.nav-links li {
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.hero {
  text-align: center;
  margin-top: 15%;
}
.hero h1 {
  text-align: center;
  font-size: 80px;
}
.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 768px) {
  
  .main{
    width:100%;
    background:#dbe4e9;
    height:100%;
    float:left;
    margin-top:10px;
    position:relative;
    z-Index:10
  }
  .banner{
    width:98%;
    height:50vh;
    background:red;
    padding:20px;
    margin:10px;
    margin-top:100px;
  }
  .about{
    width:"98%";
    margin:"10px";
    background:"#ffffff";
    margin-top:"10px";
    padding:"10px";
    margin-bottom:"15px";
    font-family:"muli, Helvetica, Arial, sans-serif"
  }
  .overview{
    width:98%;
    margin:10px;
    background:#ffffff;
    height:65vh;
    margin-Top:50px;
    font-Family:poppins;
    font-Size:14px
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
    /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
   position:fixed;
   z-index:100;
   background-color:#ffffff;
   width:100%;
  }
  
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }
  ul li {
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 620px) {
 
.sidebar{
  display:none
}
  
}
.carousel {
  margin-left: 15%;
  margin-right: 15%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}

.about{
  width:"98%";
  margin:"10px";
  background:"#ffffff";
  height:"45vh";
  margin-top:"10px";
  padding:"10px";
  margin-bottom:"15px";
  font-family:"muli, Helvetica, Arial, sans-serif"
}
.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.dZkckO {
  position: absolute;
  top: calc(35% - 17.5px)!important;
  height: 35px;
  width: 35px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #0009;
  z-index: 10;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.6;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  left: initial;
  right: 5px;
}
.bBfHpH {
  position: absolute;
  top: calc(35% - 17.5px)!important;
  height: 35px;
  width: 35px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #0009;
  z-index: 10;
  cursor: pointer;
  font-size: 10px;
  opacity: 0.6;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  left: 5px;
  right: initial;
}